<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.pium.mapper.NoticeMapper">

    <!--notice 불러오기    -->
    <select id="selectNotice" parameterType="long" resultType="NoticeDTO">
        SELECT * FROM notice WHERE projmember_seq=#{projmember_seq} order by notice_date desc;

    </select>


    <!--task comment 입력창에서 프로젝트 멤버를 mention하였을 때    -->
    <insert id="mentionedMember" parameterType="NoticeDTO">
        INSERT INTO notice (notice_title, notice_type,notice_date,notice_sender,task_seq,milestone_seq,projmember_seq)
        VALUES (#{notice_title}, #{notice_type},now(),#{notice_sender},#{task_seq},#{milestone_seq},#{projmember_seq})
    </insert>

    <!-- milestone 공지-->
    <insert id="mileNotice" parameterType="NoticeDTO" >
        insert into notice(notice_title, notice_type, notice_date, notice_sender, task_seq, milestone_seq, projmember_seq)
        values (#{notice_title}, #{notice_type}, now(), #{notice_sender}, #{task_seq}, #{milestone_seq}, #{projmember_seq})
    </insert>

    <!-- task 공지-->
    <insert id="taskNotice" parameterType="NoticeDTO" >
        insert into notice(notice_title, notice_type, notice_date, notice_sender, task_seq, milestone_seq, projmember_seq)
        values (#{notice_title}, #{notice_type}, now(), #{notice_sender}, #{task_seq}, #{milestone_seq}, #{projmember_seq})
    </insert>

    <!-- 공지 삭제 -->
    <delete id="deletenotice" parameterType="long">
        delete from notice where notice_seq = #{notice_seq}
    </delete>

    <!-- 공지 읽음상태로 전환 -->
    <update id="updateStatus" parameterType="long">
        UPDATE notice SET notice_status ='1' WHERE notice_seq=#{notice_seq}
    </update>


</mapper>