<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.pium.mapper.TodoMapper">

    <!--status에 따른 조회, 노트에 표시-->
    <select id="todoBySeq" resultType="TodoDTO" parameterType="long">
        SELECT * from todo where projmember_seq=#{projmember_seq} and todo_status = '10'
    </select>

    <select id="progressBySeq" resultType="TodoDTO" parameterType="long">
        SELECT * from todo where projmember_seq=#{projmember_seq} and todo_status = '20'
    </select>

    <select id="doneBySeq" resultType="TodoDTO" parameterType="long">
        SELECT * from todo where projmember_seq=#{projmember_seq} and todo_status = '30'
    </select>


    <!--드롭박스에서 업무 선택할 수 있도록 업무 제목 꺼냄-->
    <select id="showTaskByProjSeq" resultType="TaskDTO" parameterType="long">
        SELECT * FROM task WHERE project_seq=#{project_seq};
    </select>




    <!--to do 위치에서 note 초기 생성-->
    <insert id="insertNote" parameterType="TodoDTO">
        insert into todo(todo_name, todo_content, todo_date, todo_status, task_seq, task_title, projmember_seq)
        values(#{todo_name}, #{todo_content}, NOW(), #{todo_status}, #{task_seq, jdbcType = INTEGER}, #{task_title},#{projmember_seq})
    </insert>





    <!--노트 수정-->
    <update id="updateNote" parameterType="TodoDTO">
        UPDATE todo
        SET todo_name=#{todo_name}, todo_content=#{todo_content}, todo_date=NOW(), task_seq=#{task_seq, jdbcType = INTEGER}, task_title=#{task_title}
        WHERE todo_seq=#{todo_seq}
    </update>

    <!--노트 삭제-->
    <delete id="deleteNote" parameterType="long">
        DELETE FROM todo WHERE todo_seq = #{todo_seq}
    </delete>
    <!--노트 상태이동-->
    <update id="updateNoteStatus" parameterType="TodoDTO">
        UPDATE todo SET todo_status=#{todo_status} where todo_seq=#{todo_seq}
    </update>


</mapper>